.salutationText {
    font-family: Arial, Sans-serif;
    color: #000000;
    font-size: 11px;
    text-align: left;
}

.usernameText {
    font-family: "Times New Roman",Times,serif;
    color: indianred;
    font-size: 18px;
    text-align: left;
    margin: 0 5px;
}

.logoutText {
    text-decoration: underline;
    color: blue;
    font-weight: bold;
    cursor: pointer;
    display: block;
    font-family: Arial, Sans-serif;
    font-size: 11px;
    text-align: left;
}